<!DOCTYPE html>
<html>
<head>
    <title>Vote on Poll</title>
</head>
<body>
    <h1><%= poll.question %></h1>
    <form action="/polls/<%= poll._id %>/vote" method="POST">
        <% poll.options.forEach((option, index) => { %>
            <input type="radio" name="optionIndex" value="<%= index %>" required>
            <%= option.text %><br>
        <% }); %>
        <button type="submit">Vote</button>
    </form>
</body>
</html>
